In [2]:
from d3blocks import D3Blocks

In [3]:
d3 = D3Blocks()

[d3blocks] >INFO> Cleaning edge_properties and config parameters..

In [4]:
df = d3.import_example("energy")
df

[d3blocks] >INFO> Downloading [energy] dataset from github source..
[d3blocks] >INFO> Extracting files..
[d3blocks] >INFO> Import dataset: [energy]

                     source            target   weight
0      Agricultural 'waste'    Bio-conversion  124.729
1            Bio-conversion            Liquid    0.597
2            Bio-conversion            Losses   26.862
3            Bio-conversion             Solid  280.322
4            Bio-conversion               Gas   81.144
..                      ...               ...      ...
63       Thermal generation  District heating   79.329
64                    Tidal  Electricity grid    9.452
65  UK land based bioenergy    Bio-conversion  182.010
66                     Wave  Electricity grid   19.013
67                     Wind  Electricity grid  289.366

[68 rows x 3 columns]

In [5]:
d3.d3graph(df, showfig=False)

[d3blocks] >INFO> Set directed=True to see the markers!
[d3blocks] >INFO> Keep only edges with weight>0
[d3blocks] >INFO> Number of unique nodes: 48
[d3blocks] >INFO> Slider range is set to [0, 840]
[d3blocks] >INFO> Write to path: [/var/folders/70/h52ybwk93f90q3nr1gjxhcmh0000gn/T/tmpuksm82ga/d3graph.html]
[d3blocks] >INFO> File already exists and will be overwritten: [/var/folders/70/h52ybwk93f90q3nr1gjxhcmh0000gn/T/tmpuksm82ga/d3graph.html]

In [6]:
d3.D3graph.set_node_properties(color="cluster")

[d3blocks] >INFO> Number of unique nodes: 48

In [10]:
d3.D3graph.node_properties["Thermal_generation"]["size"] = 20
d3.D3graph.node_properties["Thermal_generation"]["edge_color"] = "#000fff"
d3.D3graph.node_properties["Thermal_generation"]["edge_size"] = 3

d3.D3graph.edge_properties["Solar", "Solar_Thermal"]["color"] = "#000fff"
d3.D3graph.edge_properties["Solar", "Solar_Thermal"]["weight_scaled"] = 10

In [11]:
d3.D3graph.show()

[d3blocks] >INFO> Slider range is set to [0, 840]
[d3blocks] >INFO> Write to path: [/var/folders/70/h52ybwk93f90q3nr1gjxhcmh0000gn/T/tmpnjejs4b1/d3graph.html]
[d3blocks] >INFO> File already exists and will be overwritten: [/var/folders/70/h52ybwk93f90q3nr1gjxhcmh0000gn/T/tmpnjejs4b1/d3graph.html]

In [12]:
import pandas as pd

In [13]:
d3 = D3Blocks()

[d3blocks] >INFO> Cleaning edge_properties and config parameters..

In [16]:
df = pd.read_csv("book1.csv")

In [17]:
df

,Source,Target,Type,weight,book
0,Addam-Marbrand,Jaime-Lannister,Undirected,3,1
1,Addam-Marbrand,Tywin-Lannister,Undirected,6,1
2,Aegon-I-Targaryen,Daenerys-Targaryen,Undirected,5,1
3,Aegon-I-Targaryen,Eddard-Stark,Undirected,4,1
4,Aemon-Targaryen-(Maester-Aemon),Alliser-Thorne,Undirected,4,1
...,...,...,...,...,...
679,Tyrion-Lannister,Willis-Wode,Undirected,4,1
680,Tyrion-Lannister,Yoren,Undirected,10,1
681,Tywin-Lannister,Varys,Undirected,4,1
682,Tywin-Lannister,Walder-Frey,Undirected,8,1
683,Waymar-Royce,Will-(prologue),Undirected,18,1

In [18]:
df_selected = df.drop(["Type", "book"], axis=1)

In [19]:
df_selected.columns = ["source", "target", "weight"]

In [20]:
d3.d3graph(df_selected)

[d3blocks] >INFO> Set directed=True to see the markers!
[d3blocks] >INFO> Keep only edges with weight>0
[d3blocks] >INFO> Number of unique nodes: 187
[d3blocks] >INFO> Slider range is set to [2, 291]
[d3blocks] >INFO> Write to path: [/var/folders/70/h52ybwk93f90q3nr1gjxhcmh0000gn/T/tmpl8hmdjhr/d3graph.html]
[d3blocks] >INFO> File already exists and will be overwritten: [/var/folders/70/h52ybwk93f90q3nr1gjxhcmh0000gn/T/tmpl8hmdjhr/d3graph.html]